/* Style the tab */

.tab {
    overflow: hidden;
    border: none;
    background-color: transparent;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    font-family: monospace;
    background-color: inherit;
    float: right;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s ease-in-out;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
    color: black;
    border-bottom: 5px solid green;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #ccc;
    text-align: center;
}

.tablink {
    color: wheat;
    font-weight: 900;
}

.gallery {
    margin: 10px 50px;
}

.gallery img {
    width: 230px;
    padding: 25px;
    filter: grayscale(100%);
    transition: 1s;
}

.gallery img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}


.social {
    background-size: 20%;
    overflow: hidden;
    border: none;
    position: fixed;
    float: left;
    opacity: 1;
    padding: 0px 20px;

}

.fa {
    padding: 5px 15px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.fa:hover {
    filter: none;
    -webkit-filter: none;
    filter: grayscale(0);
}
